<ul class="nav-icons"><!-- SPA -->
    <li><a href="#/simple-interest-calculator"><img src="./images/financial-icons/icon-1.svg" /> Simple
            Interest Calculator</a></li>
    <li><a href="#/SIP-Calculator-Groww">
            <img src="./images/financial-icons/icon-2.svg" />SIP Calculator - GROWW</a>
    </li>
    <li>
        <a href="#/SIP-Calculator-Groww"> <img src="./images/financial-icons/icon-3.svg" />Lumpsum SIP
            Calculator - GROWW</a></li>
    <li><a href="#/SWP-Calculator-Groww"> <img src="./images/financial-icons/icon-4.svg" />SWP Calculator -
            GROWW</a></li>
    <li><a href="#/HRA-Calculator-Groww"> <img src="./images/financial-icons/icon-5.svg" />HRA Calculator -
            GROWW</a></li>
    <li><a href="#/NPS-Calculator-Groww"> <img src="./images/financial-icons/icon-6.svg" />NPS Calculator -
            GROWW</a></li>
    <li><a href="#/FD-Calculator-Groww"> <img src="./images/financial-icons/icon-7.svg" />FD (Fixed Deposit)
            Calculator - GROWW</a></li>
    <li><a href="#/PPF-Calculator-Groww"> <img src="./images/financial-icons/icon-8.svg" />PPF Calculator -
            GROWW</a></li>
    <li><a href="#/sip-calculator"> <img src="./images/financial-icons/icon-9.svg" />SIP Calculator -
            ETMoney</a></li>
    <li><a href="#/rent-receipt-generator"> <img src="./images/financial-icons/icon-10.svg" />Rent Receipt
            Generator - ETMoney</a></li>
    <li><a href="#/income-tax-calculator"> <img src="./images/financial-icons/icon-11.svg" />Income Tax
            Calculator - ETMoney</a></li>
    <li><a href="#/stock-average-calculator"> <img src="./images/financial-icons/icon-12.svg" />Stock Average
            Price Calculator</a></li>
    <li><a href="#/EPF-Calculator-personalfn"> <img src="./images/financial-icons/icon-13.svg" />EPF Calculator
            - PersonalFN</a></li>
    <li><a href="#/HRA-Calculator-ICICI"> <img src="./images/financial-icons/icon-2.svg" />HRA Calculator -
            ICICI</a></li>
</ul>