<template>
    <section class="content__main">
        <link rel="stylesheet" href="./css/groww.css" type="text/css">

        <header class="content__header">
            <h3 id="heading" class="text-center calc-title"><a href="#/home">&#8592;</a> PPF Calculator</h3>
        </header>

        <form name="sipForm">
            <div class="sip-calculator">
                <div class="sip-calculator-amount">
                    <p class="d-flex">
                        <label id="amountLabel">Investment Per Year</label>
                        <input name="InvestmentPerYear" id="inputInvestmentPerYear" type="number" step="500"
                            value="10000" min="500" max="150000" oninput="showInvestmentPerYearVal(this.value)">
                        <span id="total-investment"></span> Rs.
                    </p>
                    <input class="amount-slider" name="realInvestmentPerYearAmount" id="myInvestmentPerYearAmount"
                        type="range" step="500" min="500" max="150000" value="10000">
                </div>
                <div class="sip-calculator-roi">
                    <p class="d-flex">
                        <label>Number of Years</label>
                        <input name="TimePeriod" id="inputTimePeriod" type="number" value="15" min="15" step="1"
                            max="60" oninput="showTimePeriodVal(this.value)">
                        <span id="tenure"></span> Years
                    </p>
                    <input class="roi-slider" name="realTimePeriod" id="myTimePeriod" type="range" min="15" step="1"
                        max="60" value="15">
                </div>
                <p style="margin-top: 1em;font-size: 1.2em; background: #f1f2f3; border-radius: 7px; padding: 20px;">
                    <strong>Total Investment:</strong>
                    <span id="totalInvestment" style="font-size: 1.2em; margin-left: 8px;">Rs. 150,000</span>
                </p>
                <p style="margin-top: 1em;font-size: 1.2em; background: #f1f2f3; border-radius: 7px; padding: 20px;">
                    <strong>Total Interest:</strong>
                    <span id="totalInterest" style="font-size: 1.2em; margin-left: 8px;">Rs. 140,701</span>
                </p>
                <p style="margin-top: 1em;font-size: 1.2em; background: #f1f2f3; border-radius: 7px; padding: 20px;">
                    <strong>Maturity Amount:</strong>
                    <span id="totalmaturityAmount" style="font-size: 1.2em; margin-left: 8px;">Rs. 290,701</span>
                </p>
                <!-- <div style="margin-top: 15px;"><img class="groww-logo" src="groww-logo-ed.png" target="_parent" align="right"/></div> -->
            </div>
        </form>

        <!-- Thank you note with Logo -->
        <div class="text-center thanks-section">Thanks to <a href="https://groww.in/" target="_blank"> <img
                    class="logo logo-dark" alt="logo"
                    src="https://groww.in/wp-content/uploads/2018/04/logo-groww-dark.png" width="100" />
            </a></div>
        <!-- Thank you note with Logo -->

        <article>
            <div class="wpb_wrapper">
                <h2>PPF Calculator – Public Provident Fund Calculator Online</h2>
                <p><span>The first step towards wealth management is accumulating savings. You will find a
                        lot of options for savings accounts; however, look for the ones that guarantee substantial
                        returns
                        risk-free. PPF accounts are one of the most common features which come into the picture. <a
                            href="https://groww.in/p/savings-schemes/public-provident-fund-ppf/">PPF</a> account refers
                        to
                        Public
                        Provident fund account and is meant to invest your valuable capital.</span></p>
                <p><span>If you are a new employee or a responsible parent who wishes to save for the
                        future, then PPF is ideal for you. Calculating the interest rates and returns on your PPF
                        account
                        turns
                        a
                        bit difficult. To make these difficult calculations easy, </span><b>PPF account
                        calculator</b><span>
                        can
                        be
                        used.</span></p>
                <h3><b>How can a PPF calculator help you?</b></h3>
                <p><span>This financial tool allows one to resolve their queries related to Public
                        Provident Fund account. There are certain specifications that are to be abided by while
                        calculating
                        maturity
                        amount after a certain point of time. It keeps a track on the growth of your capital. Those who
                        already
                        have
                        a PPF savings account know that interest rates change on monthly basis.</span></p>
                <p><span>Nowadays, it is easier to keep a check on changing interest rates. However, with
                        the discovery of </span><b>public provident fund calculator</b><span>, account
                        holders find it easier to find out monthly changes made in rate of interest. In the market, you
                        may
                        find
                        lot
                        of user-friendly PPF calculators and for choosing trustworthy ones, Groww is simply the
                        option.</span>
                </p>
                <h3><b>Formula used for calculating PPF</b></h3>
                <p><span>Groww uses a formula to compute the deposited amount, interest, etc. This formula
                        has been given below –</span></p>
                <p><b>F = P [({(1+i) ^n}-1)/i]</b></p>
                <p><span>This formula represents the following variables –</span></p>
                <table class="table">
                    <tbody>
                        <tr>
                            <td><span>I</span></td>
                            <td><span>Rate of interest</span></td>
                        </tr>
                        <tr>
                            <td><span>F</span></td>
                            <td><span>Maturity of PPF</span></td>
                        </tr>
                        <tr>
                            <td><span>N</span></td>
                            <td><span>Total number of years</span></td>
                        </tr>
                        <tr>
                            <td><span>P</span></td>
                            <td><span>Annual instalments</span></td>
                        </tr>
                    </tbody>
                </table>
                <p><span>In order to clear your concept about PPF calculation, an example has been given.
                        This calculation becomes easier once you buy </span><b>PPF calculator.</b></p>
                <p><span>Suppose, an individual pays an annual amount of Rs. 2,00,000 in their PPF
                        investment for a period of 15 years at an interest rate of 7% then his/her maturity sum at the
                        closing
                        year
                        will be equal to 5763698.</span></p>
                <p><span>A quick check on opening balance, closing balance, withdraw amount and also rate
                        of interest will definitely help you out. Have a look at the given below table.</span></p>
                <table class="table table-responsive">
                    <tbody>
                        <tr>
                            <td><b>Year</b></td>
                            <td><b>Opening amount</b></td>
                            <td><b>Deposit</b></td>
                            <td><b>Rate of interest</b></td>
                            <td><b>Closing amount</b></td>
                            <td><b>Loan</b></td>
                            <td><b>Amount withdrawn</b></td>
                        </tr>
                        <tr>
                            <td><span>1</span></td>
                            <td><span>0</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.11400</span></td>
                            <td><span>Rs.161400</span></td>
                            <td><span>0</span></td>
                            <td><span>0</span></td>
                        </tr>
                        <tr>
                            <td><span>2</span></td>
                            <td><span>Rs.161400</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.23666</span></td>
                            <td><span>Rs.335066</span></td>
                            <td><span>0</span></td>
                            <td><span>0</span></td>
                        </tr>
                        <tr>
                            <td><span>3</span></td>
                            <td><span>Rs.335066</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.36865</span></td>
                            <td><span>Rs.521931</span></td>
                            <td><span>Rs.40350</span></td>
                            <td><span>0</span></td>
                        </tr>
                        <tr>
                            <td><span>4</span></td>
                            <td><span>Rs.521931</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.51067</span></td>
                            <td><span>Rs. 722998</span></td>
                            <td><span>Rs.83767</span></td>
                            <td><span>0</span></td>
                        </tr>
                        <tr>
                            <td><span>5</span></td>
                            <td><span>Rs.722998</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.66348</span></td>
                            <td><span>Rs.939346</span></td>
                            <td><span>Rs.130483</span></td>
                            <td><span>0</span></td>
                        </tr>
                        <tr>
                            <td><span>6</span></td>
                            <td><span>Rs.939346</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.82790</span></td>
                            <td><span>Rs.1172136</span></td>
                            <td><span>Rs.180750</span></td>
                            <td><span>0</span></td>
                        </tr>
                        <tr>
                            <td><span>7</span></td>
                            <td><span>Rs.1172136</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.100482</span></td>
                            <td><span>Rs.1422618</span></td>
                            <td><span>0</span></td>
                            <td><span>Rs.260966</span></td>
                        </tr>
                        <tr>
                            <td><span>8</span></td>
                            <td><span>Rs.1422618</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.119519</span></td>
                            <td><span>Rs.1692137</span></td>
                            <td><span>0</span></td>
                            <td><span>Rs.361499</span></td>
                        </tr>
                        <tr>
                            <td><span>9</span></td>
                            <td><span>Rs.1692137</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.140002</span></td>
                            <td><span>Rs.1982139</span></td>
                            <td><span>0</span></td>
                            <td><span>Rs.469673</span></td>
                        </tr>
                        <tr>
                            <td><span>10</span></td>
                            <td><span>Rs.1982139</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.162043</span></td>
                            <td><span>Rs.2294182</span></td>
                            <td><span>0</span></td>
                            <td><span>Rs.586068</span></td>
                        </tr>
                        <tr>
                            <td><span>11</span></td>
                            <td><span>Rs.2294182</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.185758</span></td>
                            <td><span>Rs.2629940</span></td>
                            <td><span>0</span></td>
                            <td><span>Rs.711309</span></td>
                        </tr>
                        <tr>
                            <td><span>12</span></td>
                            <td><span>Rs.2629940</span></td>
                            <td><span>Rs.150000</span></td>
                            <td><span>Rs.211275</span></td>
                            <td><span>Rs.2991215</span></td>
                            <td><span>0</span></td>
                            <td><span>Rs.846069</span></td>
                        </tr>
                    </tbody>
                </table>
                <p><span>Apart from yearly PPF calculations, monthly calculations are also possible with
                    </span><b>PPF calculator monthly</b><span>.</span></p>
                <h4><b>How to use PPF calculator?</b></h4>
                <p><span>To enjoy this computing tool to the maximum, you need to understand how it works.
                        Its user-friendly and accurate information makes it a device worthy of purchase. The only job of
                        the
                        user is
                        to put values within specific columns and you are good to go. Details that are to be provided to
                        this
                    </span><b>PPF amount calculator </b><span>include tenure, total amount invested,
                        interest earned and also amount invested monthly or yearly.</span></p>
                <ul>
                    <li><span>Enter the values in the requisite fields and the
                            total maturity amount will be reflected within seconds.</span></li>
                    <li><span>If an individual deposits amount on 1</span><span>st</span><span> of April then interest
                            will
                            be
                            calculated based on financial year. Inflation might affect this interest rate.</span></li>
                </ul>
                <h4><b>Advantages of using PPF calculator</b></h4>
                <p><span>The list below demonstrates benefits of using </span><b>online PPF
                        calculator</b><span>. Have a look at it.</span></p>
                <ul>
                    <li><span>This computing device allows users to make a clear
                            idea about how much interest can be earned with the investment of a certain amount of
                            money.</span>
                    </li>
                    <li><span>With the assistance of this calculator, you can be
                            saved from paying hefty tax.</span></li>
                    <li><span>We often find it difficult to decide on maturity
                            period of their investment and this problem is easily solved with the use of </span><b>PPF
                            calculator
                            India</b><span>.</span></li>
                    <li><span>It also offers estimation on total investment in a
                            financial year.</span></li>
                    <li><span>To ensure that the user is able to get accurate
                            result, it is essential to provide the computing device with deposited amount along with
                            type of
                            deposit
                            i.e. fixed or variable.</span></li>
                </ul>

                <h5><b>FAQs</b></h5>
                <ol>
                    <li><b> Can I transfer my PPF account to another branch or office?</b></li>
                </ol>
                <p><span>Yes, you find the liberty to transfer the account to another office or
                        branch.</span></p>
                <ol start="2">
                    <li><b> How much interest rate can I get on my PPF account?</b></li>
                </ol>
                <p><span>The interest rate is mainly determined by the Central Government periodically. At
                        present, the interest rate is 8.1% per annum.&nbsp;</span></p>
                <ol start="3">
                    <li><b> When is my investment going to mature?</b></li>
                </ol>
                <p><span>In PPF accounts, maturity can be attained after 15 years. After this period, you
                        are liable to withdraw the entire amount.</span></p>
            </div>
        </article>

    </section>

    <script>
        'use strict';

        var totalInvestmentSlider = document.getElementById("myInvestmentPerYearAmount");
        var amountTotalInvestmentOutput = document.getElementById("inputInvestmentPerYear");
        var timePeriodSlider = document.getElementById("myTimePeriod");
        var timePeriodOutput = document.getElementById("inputTimePeriod");


        amountTotalInvestmentOutput.innerHTML = totalInvestmentSlider.value;
        timePeriodOutput.innerHTML = timePeriodSlider.value;


        totalInvestmentSlider.oninput = function () {
            amountTotalInvestmentOutput.innerHTML = this.value;
        }
        timePeriodSlider.oninput = function () {
            timePeriodOutput.innerHTML = this.value;
        }


        function showInvestmentPerYearVal(newVal) {
            totalInvestmentSlider.value = newVal;
            calculateIt();
        };
        function showTimePeriodVal(newVal) {
            timePeriodSlider.value = newVal;
            calculateIt();
        }


        totalInvestmentSlider.addEventListener("input", updateValueTotalInvestment);
        timePeriodSlider.addEventListener("input", updateValueTimePeriod);


        function updateValueTotalInvestment(e) {
            amountTotalInvestmentOutput.value = e.srcElement.value;
            calculateIt();
        }
        function updateValueTimePeriod(e) {
            timePeriodOutput.value = e.srcElement.value;
            calculateIt();
        }


        function calculateIt() {
            var finalInvestmentAmountOutput = document.getElementById("totalInvestment");
            var finalInterestAmountOutput = document.getElementById("totalInterest");
            var finalMaturityAmountOutput = document.getElementById("totalmaturityAmount");

            var totalInvestmentValue = document.sipForm.realInvestmentPerYearAmount.value; //fieldname2
            var timePeriodValue = document.sipForm.realTimePeriod.value; //fieldname6

            var finalInvestedAmount = Math.round(totalInvestmentValue * timePeriodValue);
            var finalInterestAmount = Math.round(totalInvestmentValue * (Math.pow((1 + 0.079), (timePeriodValue)) - 1) / (0.079) * (1 + 0.079)) - Math.round(totalInvestmentValue * timePeriodValue);
            var finalMaturityAmount = Math.round(totalInvestmentValue * (Math.pow((1 + 0.079), (timePeriodValue)) - 1) / (0.079) * (1 + 0.079));

            finalInvestmentAmountOutput.innerHTML = "Rs. " + finalInvestedAmount.toLocaleString();
            finalInterestAmountOutput.innerHTML = "Rs. " + finalInterestAmount.toLocaleString();
            finalMaturityAmountOutput.innerHTML = "Rs. " + finalMaturityAmount.toLocaleString();;

        }
        calculateIt();
    </script>

</template>
