<nav role="navigation">
    <div>
        <div id="menuToggle">
            <input type="checkbox" id="toggleMenu" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/simple-interest-calculator">Simple Interest Calculator</a></li>
                <li><a href="#/SIP-Calculator-Groww">SIP Calculator - GROWW</a></li>
                <li><a href="#/SIP-Calculator-Groww">Lumpsum SIP Calculator - GROWW</a></li>
                <li><a href="#/SWP-Calculator-Groww">SWP Calculator - GROWW</a></li>
                <li><a href="#/HRA-Calculator-Groww">HRA Calculator - GROWW</a></li>
                <li><a href="#/NPS-Calculator-Groww">NPS Calculator - GROWW</a></li>
                <li><a href="#/FD-Calculator-Groww">FD (Fixed Deposit) Calculator - GROWW</a></li>
                <li><a href="#/PPF-Calculator-Groww">PPF Calculator - GROWW</a></li>
                <li><a href="#/sip-calculator">SIP Calculator - ETMoney</a></li>
                <li><a href="#/rent-receipt-generator">Rent Receipt Generator - ETMoney</a></li>
                <li><a href="#/income-tax-calculator">Income Tax Calculator - ETMoney</a></li>
                <li><a href="#/stock-average-calculator">Stock Average Price Calculator</a></li>
                <li><a href="#/EPF-Calculator-personalfn">EPF Calculator - PersonalFN</a></li>
                <li><a href="#/HRA-Calculator-ICICI">HRA Calculator - ICICI</a></li>
            </ul>
        </div>
    </div>
    <div>
        <h2>Financial Calculators</h2>
    </div>
</nav>
